*{
	margin: 8px;
	padding: 10px;
	box-sizing: border-box;
}

body {
	background-color: #D7D7D7;
}

/* SERVICES */
.services {
  width: auto;
  min-height: 373px;
  margin: auto;
  margin-top: 108px;
}

.services .line1 div{
  display: inline-block;
}

.services .design{
	width: 510px;
	height: 177px;
	margin-right: 5px;
}

.services .design img{
	width: 61px;
	height: 64px;
}

.services .design h6{
	font-family: "Montserrat", sans-serif;
  font-weight: 700;
	letter-spacing: 18.54%;
	font-size: 22px;
	margin-left: 45px;
	margin-top: -70px;
}

.services .design p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}

.services .development{
	width: 510px;
	height: 178px;
	margin-left: 120px;
}

.services .development img{
	width: 68.94px;
	height: 70px;
}

.services .development h6{
	font-family: "Montserrat", sans-serif;
  font-weight: 700;
	letter-spacing: 18.54%;
	font-size: 22px;
	margin-left: 45px;
	margin-top: -70px;
}

.services .development p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}

.services .maintenance{
	width: 487px;
  height: 182px;
  margin: auto;
}

.services .maintenance img{
	width: 80.21px;
	height: 64px;
}

.services .maintenance h6{
	font-family: "Montserrat", sans-serif;
  font-weight: 700;
	letter-spacing: 18.54%;
	font-size: 22px;
	margin-left: 50px;
	margin-top: -60px;
}

.services .maintenance p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}


/* Mobile view for services */
@media screen and (max-width: 1084px) {
  *{
		width: 100%;
	}
	.services{
		display: block;
		/* width: 100%; */
		margin-top: 10px;
		margin-left: -50px;
	}
	
	.services .line1 div{
    display: block;
    width: 100%;
	}

	.services .design{
		margin-left: unset;
		width: 281px;
	}

	.services .design h6{
		font-size: 17px;
		margin-left: 35px;
		margin-top: -65px;
	}
	
	.services .design p{
		font-size: 13px;
		font-weight: 400;
		text-align: justify;
	}

	.services .development{
		margin-left: unset;
	}

	.services .development h6{
		font-size: 17px;
		margin-left: 40px;
		margin-top: -65px;
	}
	
	.services .development p{
		font-size: 13px;
		font-weight: 400;
		text-align: justify;
	}

	.services .maintenance{
  width: 100%;
	}

	.services .maintenance h6{
		font-size: 17px;
		margin-left: 55px;
		margin-top: -60px;
	}
	
	.services .maintenance p{
		font-size: 13px;
		font-weight: 400;
		text-align: justify;
	}
}

/* SEPARATOR */
.separatorBlack2{
	margin-top: 75px;
	margin-left: 570px;
}

/* Mobile view for separator */
@media screen and (max-width: 1084px){
	.separatorBlack2{
		margin-left: unset;
		margin-top: auto;
		width: 80%;
	}
}

/* SKILLS */
.skills{
	width: auto;
  min-height: 373px;
  margin: auto;
  margin-top: 50px;
}

.usingNowText{
	font-family: "Montserrat", sans-serif;
  font-weight: 700;
	font-size: 30px;
	letter-spacing: 18.54%;
	margin-left: 245px;
	padding-top: 50px;
}

.row1{
	text-align: center;
}

.row2{
	text-align: center;
}

.sectionHeader2{
	font-family: "Montserrat", sans-serif;
	display:inline-block;
	text-align: center;
	letter-spacing: 35.54%;
	border: 8px solid black;
	padding: 10px;
	margin-top: 5px;
	margin-left: 550px;
	padding-left: 50px;
	padding-right: 50px;
}

.card {
	width: 180px;
  height: 100px;
  display: inline-block;
}

.card span {
	font-family: "Montserrat", sans-serif;
  font-weight: 400;
	font-size: 24px;
	letter-spacing: 13.54%;
}

/* Mobile view for skills */
@media screen and (max-width: 1084px){
	/* .skills{
		margin-left: -50px;
	} */
	
	.sectionHeader2{
		text-align: center;
		margin-left: 0px;
		padding: auto;
		letter-spacing: 43.54%;
		font-size: 14px;
	}

	.usingNowDiv{
		margin-top: 5px;
		margin-left: -50px;
		width: 300px;
		text-wrap: nowrap;
	}

	.usingNowText{
		margin-left: 10px;
		font-size: 25px;
		letter-spacing: 30%;
	}

	.row1{
		margin-left: 15px;
		padding: auto;
	}

	.row2{
		margin-top: -8px;
		margin-left: 15px;
		padding: auto;
	}
	
	.card {
		display: block;
		height: auto;
		width: 114.21px;
	}

	.card span {
		font-size: 20px;
	}
}
